<h1>Exercise Motivation from {{$ctrl.exerciseToShow.author}}</h1>

<div class="show_post_description show_post_exercise_img">
  <h4>{{ $ctrl.exerciseToShow.description }}</h4>
  <br/>
  Duration: {{ $ctrl.exerciseToShow.duration }}
  <br/>
  Feeling: {{ $ctrl.exerciseToShow.feeling }}
  <br/>
</div>

<button class="edit_button" ng-click='$ctrl.editingPost=true'>Edit this post</button>

<form class="new_post_form" ng-if="$ctrl.editingPost" ng-submit="$ctrl.editExercise($ctrl.exerciseToEdit._id)">
      <div>
        <label for="exerciseToEdit-author">Author:</label>
        <input class="box_length" type="text" id="exerciseToEdit-Author" ng-model="$ctrl.exerciseToShow.author">
      </div>
      <div>
        <label for="exerciseToEdit-description">Description:</label>
        <input class="box_length" type="text" id="exerciseToEdit-description" ng-model="$ctrl.exerciseToShow.description" required>
      </div>
      <div>
        <label for="exerciseToEdit-duration">Duration:</label>
        <input class="box_length" type="text" id="exerciseToEdit-duration" ng-model="$ctrl.exerciseToShow.duration">
      </div>
      <div>
        <label for="exerciseToEdit-feeling">Feeling:</label>
        <input class="box_length" type="text" id="exerciseToEdit-feeling" ng-model="$ctrl.exerciseToShow.feeling">
      </div>
      <br>
      <div>
        <input class="submit_button" type="submit" value="Submit">
        <button class="nevermind_button" ng-click="$ctrl.editingPost=false">Nevermind</button>
      </div>
    </form>

<br><br>

<button class="delete_button" ng-click="$ctrl.deleteExercise($ctrl.exerciseToShow._id)" >Delete this post</button>

<br>

<a class="go_back" ui-sref="exercise">Go Back to All Activities</a>
