<h1>Show Page</h1>

Exercise Motivation from {{$ctrl.exerciseToShow.author}}
<div>
  Description: {{ $ctrl.exerciseToShow.description }}
  <br />
  Duration: {{ $ctrl.exerciseToShow.duration }}
  <br />
  Feeling: {{ $ctrl.exerciseToShow.feeling }}
  <br />
</div>

<button ng-click='$ctrl.editingPost=true'>Edit this post</button>
<br><br>
<form ng-if="$ctrl.editingPost" ng-submit="$ctrl.editExercise()">
      <div>
        <label for="newExercise-author">Author:</label>
        <input type="text" id="newExercise-Author" ng-model="$ctrl.newExercise.author" placeholder="your name">
      </div>
      <div>
        <label for="newExercise-description">Description:</label>
        <input type="text" id="newExercise-description" ng-model="$ctrl.newExercise.description" placeholder="e.g.: Walked a mile!">
      </div>
      <div>
        <label for="newExercise-duration">Duration:</label>
        <input type="text" id="newExercise-duration" ng-model="$ctrl.newExercise.duration" placeholder="e.g.: 30 minutes">
      </div>
      <div>
        <label for="newExercise-feeling">Feeling:</label>
        <input type="text" id="newExercise-feeling" ng-model="$ctrl.newExercise.feeling" placeholder="How were you feeling afterwards?">
      </div>
      <div>
        <input type="submit" value="Submit">
        <button ng-click="$ctrl.editingPost=false">Nevermind</button>
      </div>
    </form>
