<h1>Exercise Motivation from {{$ctrl.exerciseToShow.author}}</h1>
<div>
  <h4>{{ $ctrl.exerciseToShow.description }}</h4>
  <br />
  Duration: {{ $ctrl.exerciseToShow.duration }}
  <br />
  Feeling: {{ $ctrl.exerciseToShow.feeling }}
  <br />
</div>

<button ng-click='$ctrl.editingPost=true'>Edit this post</button>
<br><br>
<form ng-if="$ctrl.editingPost" ng-submit="$ctrl.editExercise($ctrl.exerciseToEdit._id)">
      <div>
        <label for="exerciseToEdit-author">Author:</label>
        <input type="text" id="exerciseToEdit-Author" ng-model="$ctrl.exerciseToShow.author">
      </div>
      <div>
        <label for="exerciseToEdit-description">Description:</label>
        <input type="text" id="exerciseToEdit-description" ng-model="$ctrl.exerciseToShow.description" required>
      </div>
      <div>
        <label for="exerciseToEdit-duration">Duration:</label>
        <input type="text" id="exerciseToEdit-duration" ng-model="$ctrl.exerciseToShow.duration">
      </div>
      <div>
        <label for="exerciseToEdit-feeling">Feeling:</label>
        <input type="text" id="exerciseToEdit-feeling" ng-model="$ctrl.exerciseToShow.feeling">
      </div>
      <div>
        <input type="submit" value="Submit">
        <button ng-click="$ctrl.editingPost=false">Nevermind</button>
      </div>
    </form>

<button ng-click="$ctrl.deleteExercise($ctrl.exerciseToShow._id)" >Delete this post</button>
<br>
<a ui-sref="exercise">Go Back</a>
