<button class='button' ng-click="$ctrl.generateQuote()" class=btn btn-default>Motivate Me!</button>

<div class="quoteBox">
  <p>"{{$ctrl.generatedQuote}}"</p>
</div>

<footer class="flex-container-footer">
 <div><a href="https://github.com/Rolita1007" class="fa fa-github"></a> <span>Yeni Nomezqui</span></div>
 <div><a href="https://github.com/MonicaGrages" class="fa fa-github"></a><span> Monica Grages</span></div>
 <div><a href="https://github.com/WilliamRausch" class="fa fa-github"></a> <span>William Rausch</span></div>
</footer>

