body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.getMotivatedLink {
  font-size: 100px;
}

.index_page_post_container {
  display: flex;
  flex-direction: column;
}

.index_page_post {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.index_page_post_description {
  font-size: 25px;
}
