<h1>Food Motivation from {{$ctrl.foodToShow.author}}</h1>
<div>
  <h4 class="show_post_description">{{ $ctrl.foodToShow.description }}</h4>
  <br />
  Meal: {{ $ctrl.foodToShow.meal }}
  <br />
  Feeling: {{ $ctrl.foodToShow.feeling }}
  <br />
</div>

<button ng-click='$ctrl.editingPost=true'>Edit this post</button>
<br><br>
<form ng-if="$ctrl.editingPost" ng-submit="$ctrl.editFood($ctrl.foodToEdit._id)">
      <div>
        <label for="foodToEdit-author">Author:</label>
        <input type="text" id="foodToEdit-Author" ng-model="$ctrl.foodToShow.author">
      </div>
      <div>
        <label for="foodToEdit-description">Description:</label>
        <input type="text" id="foodToEdit-description" ng-model="$ctrl.foodToShow.description" required>
      </div>
      <div>
        <label for="foodToEdit-meal">Meal:</label>
        <input type="text" id="foodToEdit-meal" ng-model="$ctrl.foodToShow.meal">
      </div>
      <div>
        <label for="foodToEdit-feeling">Feeling:</label>
        <input type="text" id="foodToEdit-feeling" ng-model="$ctrl.foodToShow.feeling">
      </div>
      <div>
        <input type="submit" value="Submit">
        <button ng-click="$ctrl.editingPost=false">Nevermind</button>
      </div>
</form>

<button ng-click="$ctrl.deleteFood($ctrl.foodToShow._id)">Delete this post</button>
