<h1>Let's Motivate <span class="red">O</span><span class="orange">n</span><span class="green">e</span> Another to Eat Healthy</h1>

<div class="nav_top">
  <button class="new_post_button" ng-click='$ctrl.addingNew=true'>Post a Motivating Meal</button>
</div>

<form class="new_post_form" ng-if="$ctrl.addingNew" ng-submit="$ctrl.addFood()" name='newFood' novalidate>
      <div>
        <label for="newFood-author">Author:</label>
        <input class="box_length" type="text" id="newFood-Author" ng-model="$ctrl.newFood.author" placeholder="your name">
      </div>
      <div>
        <label for="newFood-description">Description:</label>
        <input class="box_length" type="text" id="newFood-description" ng-model="$ctrl.newFood.description" placeholder="e.g.: Balsamic tofu" name='foodDescription' ng-maxLength='45'required>
          <div class="error-messages" ng-messages="newFood.foodDescription.$error">
           <div ng-message="required">Description is required</div>
           <div ng-message="maxlength">Description is too long</div>
         </div>
      </div>
      <div>
        <label for="newFood-meal">Meal Prep Time:</label>
        <input class="box_length" type="text" id="newFood-meal" ng-model="$ctrl.newFood.meal" placeholder="e.g.: 30 minutes">
      </div>
      <div>
        <label for="newFood-feeling">Feeling:</label>
        <input class="box_length" type="text" id="newFood-feeling" ng-model="$ctrl.newFood.feeling" placeholder="How were you feeling afterwards?">
      </div>
      <br>
      <br>
      <div>
        <input class="submit_button" type="submit" value="Submit" ng-disabled='newFood.$invalid'>
        <button class ="nevermind_button" ng-click="$ctrl.addingNew=false">Nevermind</button>
      </div>
</form>

<div class='index_page_post_container'>
    <div class='index_page_post' ng-repeat="food in $ctrl.savedFoods | orderBy: '-likes'">
      <span class='index_page_post_description food_img'  ng-click="$ctrl.foodShow(food._id)">{{food.description}}</span>
      <div class='likes_and_date'>
        <div class='likes_container'><button class='like_button' ng-click='$ctrl.likePost(food)'>&#9829;</button><span class='post_likes'>+{{food.likes}}</span></div>
        <p class='posted_date'>{{food.postedAt | date}}</p>
      </div>
    </div>
</div>


