<h1>Let's Motivate One Another to Eat Healthy</h1>


  <div class= 'index_page_post_container'>
    <div class='index_page_post' ng-repeat='food in $ctrl.savedFoods'  ng-click="$ctrl.foodShow(food._id)">
      <span class='index_page_post_description'>{{food.description}}</span>
      <span>Meal: {{food.meal}}</span>
      <span>Feeling: {{food.feeling}}</span>
      <span>Author: {{food.author}}</span>
    </div>
  </div>


<button ng-click='$ctrl.addingNew=true'>Add a new food post</button>

<form ng-if="$ctrl.addingNew" ng-submit="$ctrl.addFood()">
      <div>
        <label for="newFood-author">Author:</label>
        <input type="text" id="newFood-Author" ng-model="$ctrl.newFood.author" placeholder="your name">
      </div>
      <div>
        <label for="newFood-description">Description:</label>
        <input type="text" id="newFood-description" ng-model="$ctrl.newFood.description" placeholder="e.g.: Balsamic tofu">
      </div>
      <div>
        <label for="newFood-meal">Meal:</label>
        <input type="text" id="newFood-meal" ng-model="$ctrl.newFood.meal" placeholder="e.g.: brunch">
      </div>
      <div>
        <label for="newFood-feeling">Feeling:</label>
        <input type="text" id="newFood-feeling" ng-model="$ctrl.newFood.feeling" placeholder="How were you feeling afterwards?">
      </div>
      <div>
        <input type="submit" value="Submit">
        <button ng-click="$ctrl.addingNew=false">Nevermind</button>
      </div>
    </form>
