<h1>Exercise Motivation</h1>


<ul>
    <li ng-repeat='exercise in $ctrl.savedExercises'>
      <span>Author: {{exercise.author}}</span><br>
      <button ng-click="$ctrl.exerciseShow(exercise._id)">Description: {{exercise.description}}</button><br>
      <span>Duration: {{exercise.duration}}</span><br>
      <span>Feeling: {{exercise.feeling}}</span><br>
    </li>

</ul>

<button ng-click='$ctrl.addingNew=true'>Add a new exercise post</button>

<form ng-if="$ctrl.addingNew" ng-submit="$ctrl.addExercise()">
      <div>
        <label for="newExercise-author">Author:</label>
        <input type="text" id="newExercise-Author" ng-model="$ctrl.newExercise.author" placeholder="your name">
      </div>
      <div>
        <label for="newExercise-description">Description:</label>
        <input type="text" id="newExercise-description" ng-model="$ctrl.newExercise.description" placeholder="e.g.: Walked a mile!">
      </div>
      <div>
        <label for="newExercise-duration">Duration:</label>
        <input type="text" id="newExercise-duration" ng-model="$ctrl.newExercise.duration" placeholder="e.g.: 30 minutes">
      </div>
      <div>
        <label for="newExercise-feeling">Feeling:</label>
        <input type="text" id="newExercise-feeling" ng-model="$ctrl.newExercise.feeling" placeholder="How were you feeling afterwards?">
      </div>
      <div>
        <input type="submit" value="Submit">
        <button ng-click="$ctrl.addingNew=false">Nevermind</button>
      </div>
    </form>
