<h1>Let's Motivate <span class="red">O</span><span class="orange">n</span><span class="green">e</span> Another to Exercise</h1>

<div class="nav_top">
  <h2 class="exercise">Exercise</h2>
  <button class="new_post_button" ng-click='$ctrl.addingNew=true'>Add a new exercise post</button>
</div>

<form class="new_post_form" ng-if="$ctrl.addingNew" ng-submit="$ctrl.addExercise()">
      <div>
        <label for="newExercise-author">Author:</label>
        <input class="box_length" type="text" id="newExercise-Author" ng-model="$ctrl.newExercise.author" placeholder="your name">
      </div>
      <div>
        <label for="newExercise-description">Description:</label>
        <input class="box_length" type="text" id="newExercise-description" ng-model="$ctrl.newExercise.description" placeholder="e.g.: Walked a mile!" required>
      </div>
      <div>
        <label for="newExercise-duration">Duration:</label>
        <input class="box_length" type="text" id="newExercise-duration" ng-model="$ctrl.newExercise.duration" placeholder="e.g.: 30 minutes">
      </div>
      <div>
        <label for="newExercise-feeling">Feeling:</label>
        <input class="box_length" type="text" id="newExercise-feeling" ng-model="$ctrl.newExercise.feeling" placeholder="How were you feeling afterwards?">
      </div>
      <br>
      <div>
        <input class="submit_button" type="submit" value="Submit">
        <button class ="nevermind_button" ng-click="$ctrl.addingNew=false">Nevermind</button>
      </div>
    </form>

<div class='index_page_post_container'>
    <div class='index_page_post' ng-repeat="exercise in $ctrl.savedExercises | orderBy: '-likes'">
      <span class='index_page_post_description exercise_img'  ng-click="$ctrl.exerciseShow(exercise._id)">{{exercise.description}}</span>
      <div class='likes_and_date'>
        <div class='likes_container'><button class='like_button' ng-click='$ctrl.likePost(exercise)'>&#9829;</button><span ng-if='exercise.likes' class='post_likes'>+{{exercise.likes}}</span></div>
        <p class='posted_date'>{{exercise.postedAt | date}}</p>
      </div>
    </div>
</div>

